<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('header.ejs') %>
</head>
<body>
    <div class="container mt-3 mx-5">
        <h2>register</h2>
        <form action="/register" method="post">
          <div class="mb-3 mt-3">
            <label for="username">Username:</label>
            <input type="username" class="form-control" id="username" placeholder="Enter username" name="username" value="admin">
          </div>
          <div class="mb-3">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" value="admin1234">
          </div>
         
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <a href="/login">login</a>
      </div>
      <% if(register.length > 0){ %>
        <script>
            Swal.fire({
              title: '<%= register%>',
              icon: "error",
              confirmButtonText: 'ตกลง'
            })
          </script>
      
      <% }%>
</body>
</html>